<div class="container main">

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>The Burger Spot</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="text-center">Build your own Burger!</h3>
            </div>
          </div>
        <div class="container form-group">
          <div class="row">
            <form action="/" method="POST">
              <div class="col-sm-8">
                <input class="form-control" type="text" name="burger_name"  placeholder="burger name" required>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-default" type="submit">Add To Menu</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7 col-sm-offset-1 undevoured">
      <h2 class="text-center">Menu</h2>

      {{#each undevoured}}
      <div class="row burger">
        <form action="/?_method=PUT" method="POST">
          <input class="form-control" type="hidden" name="id" value="{{this.id}}">
          <div class="col-sm-6 text-center">
            <p>Burger: {{this.burger_name}}</p>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Devour</button>
          </div>
        </form>

        <div class="col-sm-3">
        <form action = "/?_method=DELETE" method="POST">
          <input class="form-control" type="hidden" name="id" value="{{this.id}}">
          <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
        </form>
      </div>
      </div>

      {{/each}}

    </div>

    <div class="col-sm-4 devoured">

      <h2 class="text-center">Your Past Meals</h2>
      {{#each devoured}}
      <div class="row burger">
        <form action="/?_method=DELETE" method="POST">
          <div class="col-sm-6 text-center">
            <input type="hidden" name="id" value="{{this.id}}">
            <p>Burger: {{this.burger_name}}</p>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
          </div>
        </form>
      </div>
      {{/each}}

    </div>


  </div>
</div>
